<div class="rentals">
  <label>
    <span>Where would you like to stay?</span>
    <input class="light">
  </label>

  <ul class="results">
    {{#each @rentals as |property|}}
      <li><Rental @rental={{property}} /></li>
    {{/each}}
  </ul>
</div>